/* general */
body {
    background-color: #F6F8F9;
}

/* header - navigation */
header {
    height: 50px;
    padding: 11px;
}
.logo {
    display: inline-block;
    vertical-align: middle;
    margin: 0 92px 0 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FA6980;
}
.navigation {
    display: inline-block;
    vertical-align: middle;
}
.navigation li {
    display: inline-block;
}
.icon {
    vertical-align: middle;
}
.nav-a {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: #343638;
    opacity: 0.5;
}
.active {
    opacity: 1;
}
.discovery {
    margin: 0 22px 0 27px;
}
.contact {
    margin: 0 40px 0 22px;
}
/* top section */
.first-container {
    margin: 75px auto 0;
    height: 410px;
    width: 1160px;
}
.section-title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.box-wrapper1 {
    margin-top: 40px;
}
.first-container-box {
    display: inline-block;
    height: 350px;
    width: 360px;
    border-radius: 2%;
}
.second-box {
    margin: 0 40px 0 40px;
}
.image-wrapper {
    position: relative;
}
.floating-text {
    position: absolute;
    top: 28px;
    left: 40px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
.first-container-text-box {
    margin: 66px auto 0;
    width: 280px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #A6ADB4;
}
/* bottom  section */
.second-container {
    margin: 58px auto 100px;
    height: 960px;
    width: 1160px;
}
.box-wrapper2 {
    display: inline-block;
    margin-top: 40px;
}
.image-wrapper2 {
    position: relative;
    height: 430px;
    width: 760px;
    margin: 0 40px 40px 0;
}
.image-wrapper2 p {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.box-wrapper3 {
    display: inline-block;
    vertical-align: top;
    margin-top: 40px;
    width: 360px;
}
.image-wrapper3 {
    position: relative;
}
.image-wrapper3 p {
    position: absolute;
    top: 18px;
    left: 40px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.image7 {
    margin: 102px 0;
}